/*John Parkhurst
*/

/**
Html styling
 */
:root {
    --primary: #7ed0aa;
}
.nav-link{
    color: red;
}
body{
    color: var(--primary)
}
/**
ID Styling    border: 5px groove #ff5c8a;
 */

/**
Class styling
 */
